.main {
  width: 375px;
  height: 375px;
  background-color: aqua;
  box-sizing: border-box;
  border-width: 4px;
  border-style: solid;
  border-left-color: #999;
  border-right-color: #999;
  border-top-color: #eee;
  border-bottom-color: #eee;
}
